.ui-panel {
	background-color: rgba(200, 200, 200, 0.5) !important;
	margin: 0px auto !important;
}

.ui-panel-footer {
	background-color: rgba(200, 200, 200, 0.5) !important;
	margin: 0px auto !important;
}

#head {
	position: absolute;
	z-index: 20 !important;
}

#panelleft {
	position: absolute;
}

#panelright {
	margin-left: 170px;
}

#hall {
	position: absolute !important;
	margin-left: 170px;
	width: 430px;
	height: 780px;
}

.ui-tabs .ui-tabs-panel {
	padding-bottom: 0 !important;
	margin-left: -28px !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
}